* {
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background: linear-gradient(rgba(238, 183, 131, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../Assets/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.links {
    margin: 10px 20px;
}

.links ul {
    display: flex;
    justify-content: space-around;
}

.links li {
    list-style: none;
    padding: 0 10px;
}

.links a {
    color: white;
    text-decoration: none;
}

.links a:hover {
    border-bottom: 2px solid white;
}

.logo {
    display: flex;
}

.logo h1 {
    color: white;
    margin-left: 20px;
    padding-top: 20px;
    font-family: sans-serif;
}

.intro {
    color: white;
    margin-top: 100px;
    height: 400px;
    width: 400px;
    padding: 50px;
    opacity: .9;
    margin: 100px 20px 0;
    background-color: #030303;
    border-bottom-right-radius: 70px;
    box-shadow: 5px 5px 30px orangered;
    border-top-left-radius: 70px;
}

.intro h2 {
    text-align: center;
    background-color: #030303;
    font-style: italic;
}

button {
    margin-left: 35%;
    border: 1px solid white;
    background-color: transparent;
    padding: 5px;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: white;
    color: black;
}

footer {
    background-color: white;
    margin-top: 300px;
    color: black;
}

.footer,
i {
    font-size: 70px;
}

.ut {
    color: orangered;
    font-size: 100px;
}

.tm {
    color: orangered;
    font-size: 100px;
}

a {
    text-decoration: none;
    font-size: 20px;
}