* {
    margin: 0;
}

body {
    background: linear-gradient(rgba(238, 183, 131, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("Assets/bg1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.links {
    margin: 10px 20px;
}

.links ul {
    display: flex;
    justify-content: space-around;
}

.links li {
    list-style: none;
    padding: 0 10px;
}

.links a {
    color: white;
    text-decoration: none;
}

.links a:hover {
    border-bottom: 2px solid white;
}

.logo {
    display: flex;
}

.logo h1 {
    margin-left: 20px;
    padding-top: 20px;
    color: white;
}

.contact-form {
    margin-top: 50px;
}

.textarea {
    background: transparent;
    border: 1px solid white;
    color: white;
    width: 75%;
}

.email {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.name {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.send {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.nameEmail {
    padding-top: 10px;
    padding-left: 50px;
}

.messagePart {
    padding-top: 20px;
    padding-left: 50px;
}

 ::placeholder {
    color: white;
}

input {
    width: 37%;
}

.button {
    padding-top: 20px;
    font-size: 20px;
}

footer {
    background-color: white;
    margin-top: 300px;
    color: black;
    padding-bottom: 20px;
}

.footer,
i {
    font-size: 70px;
}

.ut {
    color: orangered;
    font-size: 100px;
}

.tm {
    color: orangered;
    font-size: 100px;
}

a {
    text-decoration: none;
    font-size: 20px;
}